
@page "/"
<div align="center">
    <br />
    <h1>       WIP-App        </h1>
    <br />
    <h2>Work In Progress - App</h2>
    @*<h3>______________________________</h3>*@
   </div>


<div align="center">
    <HomeImage />
</div>
