<h2>Progetto: @DettaglioParte.NomeProgetto</h2>

<EditForm Model="@DettaglioParte"
          OnValidSubmit="@(e => OnSalvaProgetto.InvokeAsync(DettaglioParte))">

    <div class="form-group">
        <label for="nome">Nome:</label>
        <InputText id="nome" @bind-Value="DettaglioParte.NomeProgetto" class="form-control" />
    </div>

    <div class="form-group">
        <label for="cliente">Cliente:</label>
        <InputText id="cliente" @bind-Value="DettaglioParte.Cliente" class="form-control" />
    </div>

    <div class="form-group">
        <label for="descrizione">Descrizione:</label>
        <InputText id="descrizione" @bind-Value="DettaglioParte.Descrizione" class="form-control" />
    </div>

    <div class="form-group">
        <label for="note">Note:</label>
        <InputTextArea id="note" @bind-Value="DettaglioParte.Note" class="form-control" />
    </div>

    <div class="form-group">
        <label for="DataInizio">DataInizio:</label>
        <InputDate id="DataInizio" @bind-Value="DettaglioParte.DataInizio" class="form-control" />
    </div>

    <div class="form-group">
        <label for="DataScadenza">DataScadenza:</label>
        <InputDate id="DataScadenza" @bind-Value="DettaglioParte.DataScadenza" class="form-control" />
    </div>

    <div class="form-group">
        <label for="DataFine">DataFine:</label>
        <InputDate id="DataFine" @bind-Value="DettaglioParte.DataFine" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Prezzo">Prezzo:</label>
        <InputNumber id="Prezzo" @bind-Value="DettaglioParte.Prezzo" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Variazione">Variazione:</label>
        <InputNumber id="Variazione" @bind-Value="DettaglioParte.Variazione" class="form-control" />
    </div>


    <button type="submit" class="btn btn-primary">Salva</button>
    <button type="button" class="btn btn-warning" @onclick="OnAnnullaProgetto">Annulla</button>
</EditForm>


@code {
    [Parameter]
    public Prospetto DettaglioParte { get; set; }

    [Parameter]
    public EventCallback<Prospetto> OnSalvaProgetto { get; set; }

    [Parameter]
    public EventCallback OnAnnullaProgetto { get; set; }
}
