@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-1 py-1 m-1">
        <a href="http://google.com" target="_blank" class="ml-md-auto">Google</a>
    </div>

    <div class="content px-1 m-1">
        @Body
    </div>
</div>
